@page "/crud"
@using Dtos

@inject DatabaseService DatabaseService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<div class="pa-16">

    <MudText Typo="Typo.h5">Todos</MudText>
    <br>
    <MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors" ValidationDelay="0">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <h4>New item</h4>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudTextField Label="Title" @bind-Value="Model.Title" For="@(() => Model.Title)" Required="true"
                    Immediate="true" />
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_success)" Class="ml-auto"
                    OnClick="OnClickSave">
                    @if (_processingNewItem)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Processing</MudText>
                    }
                    else
                    {
                        <MudText>Save</MudText>
                    }
                </MudButton>
            </MudCardActions>

        </MudCard>
    </MudForm>

    <br>

    @if (TodoListFiltered == null)
    {
        <MudSimpleTable>
            <thead>
                <tr>    
                    <th>Title</th>
                    <th>Action</th>    
                </tr>
            </thead>
            <tbody>
                <tr>    
                    <td><MudSkeleton /></td>
                    <td><MudSkeleton /></td>
                </tr>
            </tbody>
        </MudSimpleTable>
    }
    else if (TodoListFiltered.Count == 0)
    {
        <MudSimpleTable>
            <thead>
                <tr>    
                    <th>Title</th>
                    <th>Action</th>    
                </tr>
            </thead>
            <tbody>
                <br>
                <MudText Typo="Typo.body1" Align="Align.Center">There is no items in this table.</MudText>
                <br>
            </tbody>
        </MudSimpleTable>
    }
    else
    {
        <MudTable Items="@TodoListFiltered" @ref="_table" Elevation="1" Bordered="false" Striped="true" Hover="true"
        SortLabel="Sort By" T="Todo">
            <ToolBarContent>
                <MudTextField T="string" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                IconSize="Size.Medium" Class="mt-0" Clearable="true"
                ValueChanged="@(s=>OnValueChangedSearch(s))" Placeholder="Search" />
            </ToolBarContent>
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Todo, object>(x=>x.Title)">
                        Title
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    Action
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Title">@context?.Title</MudTd>
                <MudTd DataLabel="Action">
                    @* <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                        Size="MudBlazor.Size.Small"
                        OnClick="@( (e) => {NavigationManager.NavigateTo($"/todoitems/{context?.Todo?.Id}");})"
                        /> *@
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Size="Size.Small"
                    OnClick="@(async (_) => {await OnClickDelete(context);})" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    }

</div>