@page "/uploadfile"

@inject StorageService StorageService
@inject ISnackbar Snackbar
@inject IJSRuntime Js
@inject IDialogService DialogService

<div class="pa-16">

    <MudText Typo="Typo.h5">File upload example</MudText>
    <br>
    <br>

    <MudPaper Class="pa-4" Outlined="true">
        <AuthorizeView>
            <Authorized>

                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFilesAsync">
                    <ButtonTemplate Context="contextUpload">
                        <MudButton HtmlTag="label"
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                StartIcon="@Icons.Material.Filled.CloudUpload"
                                for="@contextUpload">
                            Upload Files
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
                <MudText Typo="Typo.caption">Max file size: @_maxFileSizeInMb MB</MudText>


                <br>
                <br>
                <MudText Typo="Typo.h6">List of files uploaded</MudText>
                <br>

                @if (FileObjects == null)
                {
                    <MudSimpleTable>
                        <thead>
                            <tr>    
                                <th>Title</th>
                                <th>Action</th>    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>    
                                <td><MudSkeleton /></td>
                                <td><MudSkeleton /></td>
                            </tr>
                        </tbody>
                    </MudSimpleTable>
                }
                else if (FileObjects.Count <= 1)
                {
                    <MudSimpleTable>
                        <thead>
                            <tr>    
                                <th>Title</th>
                                <th>Action</th>    
                            </tr>
                        </thead>
                        <tbody>
                            <br>
                            <MudText Typo="Typo.body1" Align="Align.Center">There is no items in this table.</MudText>
                            <br>
                        </tbody>
                    </MudSimpleTable>
                
                } else
                {
                    <MudSimpleTable Hover="true" Elevation="3">
                        <thead>
                            <tr>
                                <th>File name</th>
                                <th>Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in FileObjects)
                            {
                                if (row.Name != ".emptyFolderPlaceholder")
                                {
                                    <tr>
                                        <td>
                                            <MudIconButton Icon="@Icons.Material.Filled.Download" aria-label="download" Size="Size.Small"
                                                OnClick="@(async (_) => {await DownloadClick(row);})" />
                                            @row.Name
                                        </td>
                                        <td>@row.CreatedAt</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </MudSimpleTable>
                }




            </Authorized>
            <NotAuthorized>
                <MudText Typo="Typo.body1">You need to be logged in to upload a file.</MudText>
                <br>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Link="/login">Login</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudPaper>

    


</div>